/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000e24;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative; /* Add relative positioning for pseudo-element */
}

.logo img {
    max-width: 100%; /* Set the max-width of the logo image to 100% */
    height: auto; /* Make the logo image height auto */
}

.small-logo {
    display: flex;
    justify-content: center; /* Center the small logo */
    margin-top: 10px; /* Add some space between the small logo and the terms */
}

.small-logo img {
    max-width: 90px; /* Decrease the max-width of the small logo */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden; /* Hide the overflow caused by the ::before pseudo-element */
    position: relative;
    padding: 10px; /* Add some padding to the container */
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0px; /* Adjust the height of the glow */
    background: #002d6a; /* Set the background color to the glow color */
    box-shadow: 0 0 190px #002d6a; /* Add outer glow with the specified color */
    z-index: -1;
}

.content {
    background-color: #020d1e;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 100%; /* Set the width to 100% */
    height: auto; /* Make the height auto */
    margin: auto;
    border-bottom: 1px solid #00357b; /* Add a thin line at the bottom with the specified color */
}

.round-container {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: auto;
    box-shadow: 0 0 30px #002d6a, 0 0 20px #002d6a inset; /* Add outer and inner glow to the header */
}

.background-video {
    width: 100%;
    height: 80vh; /* Set the height of the video to 80vh to make it responsive */
    object-fit: cover;
    opacity: 0.3;
}

.text {
    color: rgb(202, 225, 255);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 6vw; /* Use vw instead of px for font-size to make it responsive */
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.8vw; /* Use vw instead of px for letter-spacing to make it responsive */
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.biggest-text {
    font-size: 4.5vw; /* Use vw instead of px for font-size to make it responsive */
}

.medium-text {
    font-size: 2.5vw; /* Use vw instead of px for font-size to make it responsive */
}

.lines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 0; /* Use vw instead of px for margin to make it responsive */
}

.line {
    height: 1px;
    background-color: white;
    width: 45%; /* Decrease the width of the lines */
}

.normal-text-container {
    display: flex;
    flex-wrap: wrap; /* Allow the text to wrap */
    align-items: center;
    margin-top: 2vw; /* Use vw instead of px for margin-top to make it responsive */
}

.line-left,
.line-right {
    flex: 1;
    height: 1px;
    background-color: white;
}

.line-left {
    margin-right: 10px; /* Adjust the spacing between the line and text */
}

.line-right {
    margin-left: 10px; /* Adjust the spacing between the line and text */
}

.normal-text {
    font-size: 1.5vw; /* Use vw instead of px for font-size to make it responsive */
}

.price-icon {
    margin-left: 2vw; /* Use vw instead of px for margin-left to make it responsive */
}

.button-container {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 5vw; /* Use vw instead of px for margin-top to make it responsive */
    margin-bottom: 10vh; /* Use vh instead of px to make it responsive */
    z-index: 2;
    position: relative; /* Add position relative to ensure the button stays above the footer */
}

.button {
    display: inline-block;
    background-color: #03142c;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 2.5vw; /* Use vw instead of px for font-size to make it responsive */
    text-align: center;
    padding: 1vw 4vw; /* Use vw instead of px for padding to make it responsive */
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
    background-color: #000e24;
    box-shadow: 0 0 4vw #00306f; /* Use vw instead of px for box-shadow to make it responsive */
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column; /* Change the direction of the footer items */
    justify-content: center; /* Center the footer items */
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #020d1e;
    padding: 20px;
    z-index: 1;
    border-top: 1px solid #00357b; /* Add a thin line at the bottom with the specified color */
    margin-top: 5vw; /* Use vw instead of px for margin-top to make it responsive */
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the social media links */
    margin-bottom: 1vw; /* Use vw instead of px for margin-bottom to make it responsive */
}

.social-icons img {
    width: 3vw; /* Use vw instead of px for width to make it responsive */
    height: 3vw; /* Use vw instead of px for height to make it responsive */
    margin: 0 1vw; /* Use vw instead of px for margin to make it responsive */
    filter: drop-shadow(0.4vw 0.5vw 3vw #002d6a); /* Use vw instead of px for filter to make it responsive */
}

.terms {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw; /* Use vw instead of px for font-size to make it responsive */
    text-align: center;
    margin-top: 1.5vw; /* Use vw instead of px for margin-top to make it responsive */
}

.separator {
    display: none; /* Hide the separator on small screens */
}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: 2vw; /* Use vw instead of px for font-size to make it responsive */
    transition: color 0.3s;
}

.footer-link:hover {
    color: #00306f;
}

@media screen and (max-width: 768px) {
    .logo {
        padding: 10px 0; /* Decrease the padding of the logo */
    }
    
    .logo img {
        max-width: 200px; /* Set the max-width of the logo image to 200px */
        max-height: 60px; /* Set the max-height of the logo image to 60px */
    }

    .container {
        max-width: 95%; /* Adjust the max-width of the container */
        padding: 0; /* Remove the padding of the container */
    }
    
    .content {
        padding: 10px; /* Add some padding to the content */
        width: 100%; /* Set the width to 100% */
        height: auto; /* Make the height auto */
    }
    
    .text {
        font-size: 8vw; /* Use vw instead of px for font-size to make it responsive */
        letter-spacing: 1vw; /* Use vw instead of px for letter-spacing to make it responsive */
    }
    
    .biggest-text {
        font-size: 6vw; /* Use vw instead of px for font-size to make it responsive */
    }
    
    .medium-text {
        font-size: 4vw; /* Use vw instead of px for font-size to make
